
# URL del API Gateway o servicio de autenticación
VITE_API_URL=http://localhost:3000

# URL del servicio de usuarios
VITE_USER_SERVICE_URL=http://localhost:3001

# URL del servicio de tiempo real (peerly-realtime-management)
# Debe coincidir con el PORT configurado en ese servicio
VITE_REALTIME_URL=http://localhost:3004
